@import url("https://fonts.googleapis.com/css?family=Livvic|Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.active {
  background: #fff !important;
  color: #8d8741 !important;
  border-radius: 5px !important;
}
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
.error {
  color: red !important;
}
button {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Livvic", sans-serif;
}
header {
  width: 100%;
}
nav {
  position: relative;
  height: 10vh;
  width: 100%;
  background: #116466;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 3;
}
.logo {
  height: 100%;
  display: flex;
  align-items: center;
}
.logo a {
  color: #fff;
}
.nav-link {
  height: 90%;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}
.navbar-active {
  transform: translateX(-10%);
}
@keyframes navigationLinkOpacity {
  form {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.nav-link a {
  color: #ffcb9a;
  text-decoration: none;
  margin: 0 0.25rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}
.nav-link a:hover {
  background: #fff;
  color: #8d8741;
  border-radius: 5px;
}
.menu-lines {
  display: block;
  cursor: pointer;
}
.menu-lines div {
  height: 0.15rem;
  width: 1.5rem;
  background-color: #ffcb9a;
  margin: 0.3rem;
  transition: all 0.3s ease;
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 4px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
#search-form input {
  padding: 0.5rem 0.1rem;
  border-radius: 5px;
  outline: none;
}
.sub-menu {
  height: 8vh;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: #ffcb9a;
  list-style: none;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in;
  /* z-index: -1; */
}
.sub-menu a {
  color: #333;
  text-decoration: none;
  margin: 0 0.25rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}
.sub-menu a:hover {
  font-weight: bold;
}
.sub-navbar-active {
  transform: translateY(0);
}
header section {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
      0deg,
      rgba(39, 39, 39, 0.8),
      rgba(39, 39, 39, 0.8)
    ),
    url("../img/header.jpeg") no-repeat center center/cover;
  background-attachment: fixed;
}
header section h1 {
  word-spacing: 1rem;
  font-size: 3rem;
  text-transform: uppercase;
  color: #ffcb9a;
  padding: 1rem 0;
}
header section p {
  font-size: 1.5rem;
  color: #fff;
  padding: 0.5rem 0;
}
.user-form {
  width: 60%;
  height: 82vh;
  margin: 3rem auto;
  padding: 1rem;
  background: #116466;
  text-align: center;
  border-radius: 10px;
  color: #fff;
}
.user-form .form-container {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  margin: 1rem auto;
  /* background: #333; */
}
.user-form .form-container span {
  color: red;
}
.user-form input,
.user-form label,
.user-form button {
  width: 100%;
  padding: 0.5rem 0;
  margin: 0.2rem 0;
}
.user-form button {
  background: #659dbd;
  border: none;
  text-transform: uppercase;
  margin: 0.8rem 0;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.user-form button:hover {
  background: #656aaa;
}
.user-form a,
.user-form h1 {
  color: #ffcb9a;
}
footer {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 2rem;
  background: #ddd;
  color: #333;
}
footer > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
footer > div:nth-child(3) {
  display: block;
  flex: 2;
}
footer > div:last-child {
  align-items: flex-end;
  flex: 2;
}
footer > div a {
  text-decoration: none;
  color: #333;
  margin: 0.2rem 0;
}
footer > div a:hover {
  text-decoration: underline;
}
footer > div a i {
  margin: 0.5rem;
}
.author {
  width: 100%;
  background: #fff;
  display: grid;
  overflow-x: scroll;
  grid-template-columns: repeat(10, 400px);
  grid-gap: 10px;
  padding: 1rem;
  color: #333;
}
.author-container {
  text-align: center;
  background: #ffcb9a;
  padding: 0.2rem 1rem 1rem 1rem;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 8px 6px -6px #333;
}
.author-container h1 {
  color: #333;
  cursor: pointer;
}
.author-container p {
  text-align: justify;
}
.author-list h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 0.5rem 0;
}
.author-list img {
  cursor: pointer;
}
.aboutus {
  width: 100%;
  padding: 0 1.5rem 1rem 1.5rem;
  margin: 0 0.5rem 0.5rem 0.5rem;
  text-align: justify;
  position: relative;
}
.aboutus h1 {
  font-size: 2.5rem;
  margin: 0.5rem 0;
  text-align: center;
}
.aboutus p {
  width: 55%;
}
.aboutus hr {
  width: 10%;
}
.index-about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  height: 65%;
  width: 40%;
  background: linear-gradient(
      0deg,
      rgba(29, 29, 29, 0.8),
      rgba(29, 29, 29, 0.8)
    ),
    url("../img/index-about-us.jpeg") no-repeat center center/cover;
}
.author-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 9, 9, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  z-index: 3;
}
.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vh;
}
.close > p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: red;
  height: 10vh;
  width: 10vh;
  cursor: pointer;
  font-size: 3rem;
  color: #fff;
  padding: 1rem;
  transform: rotate(45deg);
}
.author-modal-container {
  width: 100%;
  height: 85vh;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.author-modal-container > img {
  grid-column: 1 / 2;
  grid-row: 1/5;
  width: 100%;
}
.author-modal-container > h1 {
  grid-column: 2/4;
}
.author-modal-container > p {
  grid-column: 2/5;
  grid-row: 2/3;
}
.books-written {
  grid-column: 2/5;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
}
.books-written form {
  width: 200px;
  border: 1px solid #ffcb9a;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem;
  padding: 0.5rem 0;
}
.books-written form > p {
  cursor: pointer;
  text-align: center;
}
.books-written form > input[type="image"] {
  width: 50%;
  margin: 0.5rem 0;
}
.about-us-description {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
  padding: 1rem 2rem;
  width: 100%;
}
.about-us-img-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  word-spacing: 5px;
  color: #fff;
  height: 30vh;
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(29, 29, 29, 0.8),
      rgba(29, 29, 29, 0.8)
    ),
    url("../img/about-us-img-primary.jpg") no-repeat center center/cover;
  grid-column: 1/4;
}
.about-us-details * {
  margin: 0.5rem 0;
}
.booklist {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.booklist > form {
  text-align: center;
  margin: 0 0.5rem;
  padding: 0.5rem;
}
.booklist > form p {
  text-align: justify;
}
.booklist > form img {
  cursor: pointer;
}
.highestratedbooks {
  background: #eea;
  padding: 1rem 0;
}
.highestratedbooks > h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0.8rem;
}
.rating {
  display: inline-block;
  text-align: center !important;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  margin: 0.75rem;
  background: green;
  color: #fff;
}
.book-page-main {
  width: 100%;
  display: flex;
  padding: 1rem;
}
.book-page-main > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
}
.book-page-main > div * {
  margin: 0.5rem 0;
}
.book-page-main > div .rating {
  margin: 0;
  width: 4rem;
}
.book-page-main > div button {
  background: #116466;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  color: #ffcb9a;
  cursor: pointer;
}
.book-page-main > div button:hover {
  background: #333;
  color: #fff;
}
.book-page-main > div a {
  text-decoration: none;
  background: #116466;
  padding: 1rem 2rem;
  border-radius: 5px;
  color: #ffcb9a;
  text-transform: uppercase;
}
.book-page-main > div a:hover {
  background: #333;
  color: #fff;
}
.book-reviews {
  width: 100%;
  background: #8d8741;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.book-reviews h1 {
  color: #fff;
  text-decoration: underline;
}
.user-review .rating {
  margin: 0;
  width: 4rem;
  font-size: 0.75rem;
}
.user-review {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 5rem;
  align-items: center;
  padding: 0.5rem 1.5rem;
  /* max-width: 300px; */
}
.user-review h3 {
  width: 5rem;
}
.user-review .review-given {
  grid-column: 1/3;
  margin: 0.25rem 0;
}
.user-review hr {
  margin: 0.5rem 0;
  grid-column: 1/3;
}
.give-review {
  width: 100%;
  background: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.give-review * {
  margin: 0.5rem 0;
}
.give-review select {
  padding: 0.5rem 1rem;
  background: #333;
  color: #fff;
}
.give-review textarea {
  width: 70%;
  height: 10%;
}
.give-review button {
  background: #333;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.75rem 1.75rem;
  cursor: pointer;
}
.give-review button:hover {
  background: #111;
}
.contact-form {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.contact-form > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}
.contact-form > div label {
  display: inline-block;
  padding: 0.25rem 0;
  text-align: right;
}
.contact-form > div input {
  width: 75%;
  padding: 0.25rem 0;
  border: #2e2f30 solid 1px;
  border-radius: 5px;
  padding: 0.5rem;
  outline: none;
}
.contact-form > input {
  background: #2e2f30;
  padding: 0.75rem 1.5rem;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin: 1.5rem 0;
}
.contact-form a {
  text-decoration: none;
  color: #16416b;
}
.contact-form textarea {
  width: 100%;
  height: 10vh;
}
.books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: flex-start;
  grid-gap: 20px;
  padding: 2rem 0;
}
.books > form {
  text-align: center;
  margin: 0 0.5rem;
  padding: 0.5rem;
  background: #ddd;
}
.books > form p {
  text-align: justify;
}
.books > form img {
  cursor: pointer;
}
.wishlistIcon {
  color: red;
  cursor: pointer;
  padding: 0 2rem;
}